// @use "custom" as bootstrap;
// @import "./variable.scss";

// @import "./dark";
// @import "./font.scss";
// @import "./component.scss";
// @import "./header.scss";

body {
  background: $optm-gray-200;
}

body.dark {
  background: $dark-optm-gray-200;
}

button{
  outline: none;
  border: none;
  background: transparent;
}

a{
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.lara-input,
.lara-btn,
.select-items div,
.select-selected,
.lang-btn,
.jselect > .jselect__display,
.lara-padding,
.multiselect-dropdown,
.multiselect-dropdown-search {
  font-size: 14px;
  padding: 0.75rem 1.5rem;

  @media (min-width: 1536px) {
    padding: 0.875rem 1.75rem;
  }
}

.lara-btn {
  display: block;
  outline: none;
  min-width: fit-content;
  transition: all 0.3s ease;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 8px;
  background-color: rgba($primary, 0.1);
  color: $dark_2;
  &:hover {
    background-color: rgba($primary, 0.2);
  }
}

// Secondary Button
.lara-secondary-btn {
  @extend .lara-btn;
  background-color: $primary;
  color: white;
  &:hover {
    background-color: darken($primary, 10%);
  }
}

// Logo Button
.lara-logo-btn {
  transition: all 0.3s ease;
  text-transform: capitalize;
  border-radius: 50%;
  background-color: $primary;
  color: white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: $primary-deep;
  }

  @media (min-width: 1536px) {
    width: 52px;
    height: 52px;
  }
}

// Action Button
.action-btn {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary;
  color: white;
  border-radius: 50%;
  transition: all 0.3s ease;
  &:hover {
    background-color: $primary-deep;
  }
}

// Cancel Button
.lara-cancel-btn {
  @extend .lara-btn;
  background-color: rgba($danger, 0.25);
  font-weight: 600;
  color: $dark_2;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  &:hover {
    background-color: lighten($danger, 20%);
  }
}

// Submit Button
.lara-submit-btn {
  @extend .lara-btn;
  background-color: rgba($primary, 0.1);
  font-weight: 600;
  &:hover {
    background-color: rgba($primary, 0.2);
  }
}

// Input Fields
.lara-input,
.lara-input-search,
.lara-input-date {
  color: $dark_2;
  background-color: $optm-gray-300;
  outline: none;
  width: 100%;
  border-radius: 8px;
}

// Input Search
.lara-input-search {
  padding-left: 2rem;

  @media (min-width: 1536px) {
    padding-left: 2.5rem;
  }
}

// Custom Select
.select-items div,
.select-selected {
  cursor: pointer;
  user-select: none;
}
.select-selected {
  background-color: $optm-gray-300;
  color: $dark_2;
  border-radius: 8px;
}

.error-message {
  font-size: 14px;
  color: #dc2626; /* Tailwind's red-600 */
  padding-top: 0.5rem;
  visibility: hidden;
  &:not(:empty) {
    visibility: visible;
  }
}

.tag-com {
  position: relative;
  min-width: fit-content;
  width: fit-content;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 500;
  border-radius: 9999px;
  padding: 0.25rem 1rem;
  padding-top: 0.25rem; /* 1.5 for 2xl */
  padding-bottom: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  .remove-tag {
    position: absolute;
    width: 0.75rem; /* 3 */
    height: 0.75rem; /* 3 */
    width: 1rem; /* 4 for 2xl */
    height: 1rem; /* 4 for 2xl */
    border-radius: 9999px;
    background-color: #dc2626; /* danger */
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    left: -0.25rem;
    top: -0.25rem;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  &:hover .remove-tag {
    display: flex;
  }
}
// Additional Components
.customScroll-none {
  &::-webkit-scrollbar {
    width: 0px;
  }
}

input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* multi select dropdown */

span.optext,
span.placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  display: block;
}

.multiselect-dropdown {
  background-opacity: 0.2;
}

span.optext {
  cursor: default;
  display: flex;
  align-items: center;
}

.multiselect-dropdown-list div:hover {
  background-color: #007bff;
  color: white;
}

.multiselect-dropdown-list div {
  color: rgba(0, 0, 0, 0.5);
}

.multiselect-dropdown-list div label {
  font-size: 16px;
}

.multiselect-dropdown-search {
  font-size: 14px;
}

.laraframe-table td:first-child {
  border-radius: 14px 0 0 14px;
}

.laraframe-table td:last-child {
  border-radius: 0 14px 14px 0;
}

.laraframe-table {
  border-collapse: separate;
  border-spacing: 0px 8px;
}

.lang-hover-style {
  background-color: #f0f0f0;
  background-color: #2c2a41;
}

.angle-down:not(.lang-hover-style) {
  background-color: white;
  background-color: #f2f2f2;
}

/* menu style start */

.curve-stroke-color {
  background-color: #d6d6d6;
  background-color: #3e2a47;
}

.collapse-sidebar .header-line {
  display: none;
}

.header-line {
  background-color: #d6d6d6;
  background-color: #3e2a47;
}

.sidebar-bg {
  background-color: #f8f9fa;
  background-color: #151839;
}

.expand-sidebar .root-item > ul ul li {
  border-left: 2px solid #d6d6d6;
  border-left: 2px solid #3e2a47;
}

.expand-sidebar .root-item > ul ul li:last-child {
  border-color: transparent;
}

.expand-sidebar .root-item > ul ul li:last-child::after {
  background-color: #d6d6d6;
  content: "";
  position: absolute;
  bottom: 0px;
  top: -1px;
  left: -2px;
  width: 2px;
  height: 40px;
  transform: translateY(-50%);
}

.expand-sidebar .root-item > ul ul li::before {
  background-color: #d6d6d6;
  content: "";
  position: absolute;
  top: -16px;
  left: -2px;
  width: 2px;
  height: 16px;
}

.expand-sidebar .root-item > ul ul li:last-child::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -2px;
  width: 2.5px;
  height: 6px;
  background: transparent;
}

.active-menu,
.active-on,
.drop-down-header:hover {
  background: linear-gradient(to right, transparent, rgba(123, 72, 211, 0.1));
  position: relative;
}

.active-menu::before,
.active-on::before,
.drop-down-header:hover::before {
  background-color: #7b48d3;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 6px;
  height: 100%;
  border-radius: 6px 0px 0px 6px;
}

.active-menu .text-active {
  color: white;
}

.active-on > .menu-arrow {
  transform: rotate(90deg);
}

.main-section-scroll {
  height: 100vh;
  overflow-y: scroll;
}

body:has(.expand-sidebar) {
  overflow: hidden;
}

.expand-sidebar {
  width: 230px;
  width: 200px;
  width: 230px;
  width: 300px;
  height: 100vh;
  overflow-y: scroll;
}

.collapse-sidebar {
  width: 6rem;
  width: 104px;
  height: 100%;
}

.collapse-sidebar .menu-logo-expand {
  display: none;
}

.expand-sidebar .menu-logo-collapse {
  display: none;
}

.collapse-sidebar .main-header .menu-arrow {
  display: none;
}

.expand-sidebar .menu-icon {
  width: 20px;
  height: 20px;
  width: 16px;
  height: 16px;
}

.collapse-sidebar .menu-title {
  display: none;
}

.collapse-sidebar .menu-icon {
  width: 20px;
  height: 24px;
  width: 24px;
  height: 24px;
}

.collapse-sidebar .root-item {
  padding-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.collapse-sidebar .sub-item {
  position: absolute;
  width: 270px;
  width: 288px;
  left: 100%;
  top: 0;
  margin-left: 0;
}

.collapse-sidebar .sub-item > ul {
  padding: 0.5rem;
  padding-top: 2.5rem;
  overflow-y: auto;
}

.collapse-sidebar .drop-down-header {
  border-radius: 0.375rem;
  display: flex;
  justify-content: center;
}

.expand-sidebar .footer {
  font-size: 0.75rem;
}

.collapse-sidebar .footer {
  font-size: 0.625rem;
  padding-top: 1rem;
  text-align: center;
}

.expand-sidebar .calendar-sec {
  padding: 1.25rem;
}

.collapse-sidebar .calendar-sec {
  padding: 0.5rem;
  padding: 1rem;
}

.expand-sidebar .sidebar-time {
  font-size: 1.5rem;
  width: 50%;
}

.collapse-sidebar .sidebar-time {
  font-size: 1.25rem;
  text-align: center;
  width: 100%;
}

.expand-sidebar .calendar-sec-div {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.collapse-sidebar .sidebar-date {
  text-align: center;
  width: 100%;
}

.expand-sidebar .sidebar-date {
  white-space: nowrap;
}

.collapse-sidebar .sidebar-day {
  display: none;
}

.expand-sidebar .clock {
  width: 100%;
}

.collapse-sidebar .clock > svg {
  margin-left: auto;
  margin-right: auto;
}

.expand-sidebar .calendar-sec-div {
  padding-left: 1rem;
  padding-right: 1.5rem;
}

.collapse-sidebar .calendar-sec-div {
  padding-left: 0.5rem;
}

.shadow-layer {
  transition: all 0.3s ease;
  position: fixed;
  height: 100vh;
  z-index: 99;
  top: 0;
  left: 0;
  pointer-events: none;
}

.collapse-shadow .shadow-layer {
  width: 6rem;
  width: 104px;
}

.expand-shadow .shadow-layer {
  width: 230px;
  width: 200px;
  width: 230px;
  width: 300px;
}

.expand-sidebar .expand-menu-icon {
  display: none;
}

.collapse-sidebar .collapse-menu-icon {
  display: none;
}

.custom-row {
  grid-template-columns: repeat(auto-fit, minmax(min(150px, 100%), 1fr));
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background: transparent;
}

/* search select drop down start*/

.jselect {
  font-size: 10px;
  font-size: 13px;
  font-size: 14px;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1;
  width: 100%;
}

.jselect > .jselect__display {
  border-radius: 0.375rem;
  background-color: #f8f9fa;
  border: 1px solid transparent;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  cursor: pointer;
  font-family: inherit;
  text-align: left;
}

.jselect > .jselect__display > span {
  user-select: none;
}

.jselect > .jselect__display[aria-disabled="true"] {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}

.jselect > .jselect__hidden {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border: none;
  color: transparent;
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
}

.jselect > .jselect__menu {
  border-radius: 0.375rem;
  margin-top: 1.5rem;
  display: none;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 100%;
  z-index: 1;
}

.dataTable-input {
  color: #f5f5f5;
}

.jselect.reverse > .jselect__menu {
  top: unset;
  bottom: 2.5rem;
}

.jselect.open > .jselect__display ~ .jselect__menu {
  display: flex;
}

.jselect.reverse > .jselect__menu {
  flex-direction: column-reverse;
}

.jselect.open > .jselect__display ~ .jselect__menu .jselect__search {
  outline: none;
}

.jselect > .jselect__menu > .jselect__search {
  background-color: white;
  background-color: #f5f5f5;
  font-size: 14px;
  border: 1px solid transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  width: 100%;
  padding: 0.5rem 1rem;
}

.jselect > .jselect__menu > .jselect__list {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  margin: 0;
  padding: 0;
}

.jselect__list > .jselect__noresult {
  padding: 0.5rem 1rem;
  pointer-events: none;
  opacity: 0.65;
}

.jselect__noresult {
  background-color: white;
  background-color: #f0f0f0;
}

.jselect__list .jselect__group {
  display: block;
  width: 100%;
  font-weight: 500;
  padding: 0.5rem 1rem;
}

.jselect--option {
  background-color: white;
  background-color: #f5f5f5;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.jselect__list > .jselect--option:last-child {
  border-radius: 0 0 0.25rem 0.25rem;
}

.jselect--option * {
  cursor: default;
  color: inherit;
}

.jselect--option.focus,
.jselect--option.selected {
  background-color: #007bff;
  color: white;
}

.jselect--option.selected small {
  color: #efefef !important;
}

.jselect--option.disabled > * {
  opacity: 0.5;
}

.jselect--option > .jselect--option__img {
  float: left;
  height: 2rem;
  margin: 0.125rem 1rem 0 0;
}

.jselect--option .jselect--option__body {
  display: inline-block;
  clear: both;
}

.jselect--option .jselect--option__body span {
  display: block;
  margin-top: 0.1rem;
  color: inherit;
}

.jselect--option .jselect--option__img + .jselect--option__body span {
  margin-top: 0.5rem;
}

.jselect--option > .jselect--option__body small {
  display: block;
  color: #858585;
  margin-top: 0.2rem;
}

.tableOptionButton.active {
  color: black;
  &.dark {
    color: white;
  }
}

@layer utilities {
  .light-box-shadow {
    -webkit-box-shadow: 5px 0px 10px rgba(56, 65, 74, 0.089);
    box-shadow: 5px 0px 10px rgba(56, 65, 74, 0.089);
  }
}

.fade-in {
  animation: fade-in 500ms ease-in-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.vertical-centered-box {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}

.vertical-centered-box:after {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.vertical-centered-box .content {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  font-size: 0;
}

.loader-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-left: -60px;
  margin-top: -60px;
  box-shadow: inset 0 0 10px rgba(56, 65, 74, 0.2);
}

.loader-line-mask {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 120px;
  margin-left: -60px;
  margin-top: -60px;
  overflow: hidden;
  transform-origin: 60px 60px;
  -webkit-mask-image: -webkit-linear-gradient(top, red, yellow);
  animation: rotate 1.2s infinite linear;
}

.loader-line {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: inset 0 0 10px rgba(56, 65, 74, 0.2);
}

#particles-background {
  background-color: white;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.tabButton {
  background-color: $optm-gray-300;
  color: $dark_1;
  padding: 2.5rem 3.5rem;
  &.active,
  &:hover {
    background-color: rgba($dark_1, 0.2);
  }
  &.active {
    cursor: default;
  }
  &:not(.active) {
    color: rgba($dark_2, 0.8);
  }
}

.tab:not(.active) {
  display: none;
}

.tab.active {
  display: block;
}

.gradient-circle {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 34%;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(#9e43ffaf, transparent);
  filter: blur(140px);
  opacity: 0.4;
  z-index: 99;
}

.gradient-circle-2 {
  pointer-events: none;
  position: fixed;
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
  width: 50%;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(#9e43ff83, transparent);
  filter: blur(140px);
  opacity: 0.2;
  z-index: 99;
}

#calendar {
  color: $dark_1;
  font-size: 16px;
}

.fc-scrollgrid-sync-table {
  width: 100% !important;
}

.fc-button-primary {
  background-color: $optm-gray-300;
}

.default-bg-color-build-1 {
  background-color: $optm-color-one;
}

.default-bg-color-build-2 {
  background-color: $optm-color-two;
}

.default-bg-color-build-3 {
  background-color: $optm-color-three;
}

.default-bg-color-build-4 {
  background-color: $optm-color-four;
}

.default-bg-color-build-5 {
  background-color: $optm-color-five;
}

.default-bg-color-build-6 {
  background-color: $optm-color-six;
}

.default-bg-color-build-7 {
  background-color: $optm-color-seven;
}

.default-bg-color-build-8 {
  background-color: $optm-color-eight;
}

.default-bg-color-build-9 {
  background-color: $optm-color-nine;
}

.round-image-div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.rectangle-image-div > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
