@use "custom" as bootstrap;
@import "./variable.scss";

@import "./dark";
@import "./font.scss";
@import "./component.scss";
@import "./header.scss";
@import "./auth.scss";
@import "./sidebar.scss";

body {
  background: $optm-gray-200;
}

body.dark {
  background: $dark-optm-gray-200;
}

button, input{
  outline: none;
  border: none;
  background: transparent;
}

p{
  margin: 0;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}

a{
  text-decoration: none;
  color: $optm-purple;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}