@use "custom" as bootstrap;
@use "core/variable.scss";
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background: variable.$optm-gray-200;
  font-family: "Epilogue", serif;

  button,
  input {
    outline: none;
    border: none;
    background: transparent;
  }

  p {
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: variable.$primary;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  main {
    padding: 24px;
    padding-top: 0;
  }
}

body.dark {
  background: variable.$dark-optm-gray-200;
}

@import "./core/font.scss";
@import "./core/component.scss";
@import "./core/header.scss";
@import "./core/auth.scss";
@import "./core/sidebar.scss";
@import "./core/dashboard.scss";
@import "./core/table.scss";
@import "./core/custom-dropdown.scss";
@import "./core/filter.scss";
@import "./core/breadcrumb.scss";
@import "./core/dark";
