$primary: #ffb100;
$secondary: #0e395f;
$success: #37af84;
$info: #47a3cc;
$warning: #dbff49;
$danger: #ff5454;
$lara-green: #43dc80;
$gray-100: #F3F4F6;

$lara-primary: #24292E;
$black-20: #F9F7F7;


$optm-gray-200: #f2f2f2;
$dark-optm-gray-200: #191d3c;

$optm-gray-300: #4a3f6e1a;
$dark-optm-gray-300: #4a3f6e66;

$near-black-purple: #31345e;
$dark_1: #25284d;
$branco-sujo: #c3c3c3;

$dark_2: #10122b;
$branco: #191d3c;

$optm-purple: #a249ff;
$optm-deep-purple: #835feb;
$optm-gray-100: #dedada;
$optm-gray-50: #25284d0d;

// $optm-color-one: #43aedc80;
// $optm-color-two: #dbff4980;
// $optm-color-three: #43dc804d;
// $optm-color-four: #d0a5fdbf;
// $optm-color-five: #ff9a1e4d;
// $optm-color-six: #5febc84d;
// $optm-color-seven: #dc43d24d;
// $optm-color-eight: #a5d1fdbf;
// $optm-color-nine: #fda5a6bf;