@use "variable.scss";

@mixin optm-radius {
  border-radius: 12px;
}

@mixin field-padding {
  padding: 12px 16px;
  @media (min-width: 1536px) {
    padding: 14px 20px;
  }
}

@mixin field {
  @include optm-radius;
  color: variable.$dark_2;
  background-color: variable.$optm-gray-300;
  width: 100%;
  outline: none;
  &::placeholder {
    color: #6b7280;
  }
}

.def-input {
  @include font-16;
  @include field-padding;
  @include field;
}

@mixin def-btn {
  @include font-14;
  @include optm-radius;
  @include field-padding;
  font-weight: 500;
}

.primary-btn {
  @include def-btn;
  background: variable.$primary;
  color: white;

  &:hover {
    background: variable.$primary-deep;
  }
}

.dropdown-list-color,
.select-items div {
  @include font-14;

  padding: 12px 16px;

  @media (min-width: 1536px) {
    padding: 14px 20px;
  }

  color: variable.$dark_2;
  background-color: white;
  display: block;
  &:hover {
    color: variable.$lara-primary;
    background-color: variable.$gray-100;
  }

  &.active {
    color: variable.$lara-primary;
    background-color: variable.$gray-100;
  }
}

.icon-btn {
  @include optm-radius;
  cursor: pointer;
  min-width: 39px;
  min-height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (min-width: 1536px) {
    min-width: 50px;
    min-height: 50px;
  }

  background-color: variable.$optm-gray-300;

  &:hover {
    background-color: rgba(variable.$primary, 0.2);
  }

  &.active {
    background-color: rgba(variable.$primary, 0.2);
  }

  color: rgba(variable.$optm-gray-300, 2);

  svg {
    pointer-events: none;
    width: 20px;
    @media (min-width: 1536px) {
      width: 24px;
    }
  }
}

.dropdown-show-box {
  @include optm-radius;
  overflow: hidden;
  position: absolute;
  top: 100%;
  right: 0px;
  z-index: 1000;
  margin-top: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.gradient-circle {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 34%;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(#9e43ffaf, transparent);
  filter: blur(140px);
  opacity: 0.4;
  z-index: 99;
}

.gradient-circle-2 {
  pointer-events: none;
  position: fixed;
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
  width: 50%;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(#9e43ff83, transparent);
  filter: blur(140px);
  opacity: 0.4;
  z-index: 99;
}

.flex-1 {
  flex: 1 1 0%;
}

.action-btn {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: variable.$primary;
  color: white;
  border-radius: 50%;
  transition: all 0.3s ease;
  &:hover {
    background-color: variable.$primary-deep;
  }

  & svg, & img, & i {
    width: 16px;
    height: 16px;
  }

  &.danger{
    background-color: variable.$danger;
  }
}

.tooltip-container {
  position: relative;

  .tooltip {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;

    .tooltip-content {
      display: block;
      white-space: nowrap;
      background-color: black;
      color: variable.$gray-100;
      padding: 4px 8px;
      border-radius: 6px;

      font-size: 11px;
    }

    .tooltip-arrow {
      position: absolute;
      width: 8px;
      height: 8px;
      background-color: black;
      bottom: -4px;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
      z-index: -1;
    }
  }

  &:hover .tooltip {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -120%);
  }
}

