@use "variable";
.dark {
  header {
    .dark-light {
      .light-icon {
        display: none;
      }
      .dark-icon {
        display: block;
        color: variable.$branco-sujo;
      }
    }
  }
  
  .loader-line {
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2);
  }

  .loader-circle {
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2);
  }

  #particles-background {
    background-color: variable.$dark_2;
  }

  .tabButton {
    &:not(.active) {
      color: variable.$branco-sujo;
    }
  }

  #calendar {
    color: variable.$branco-sujo;
  }

  .fc-col-header-cell,
  .fc-theme-standard .fc-scrollgrid,
  .fc-theme-standard td,
  .fc-theme-standard th {
    border-color: #4b4f54;
  }

  .fc-button-primary {
    background-color: variable.$optm-gray-300;
  }
}
