.filter-form {
  #search-by-name {
    min-width: 100px;
  }
  .row-show-options {
    width: 100%;
  }

  .select-items {
    li {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}

.filter-options {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 400px;
  @media (min-width: 1536px) {
    height: 550px;
  }
  width: 384px;
  @media (min-width: 1536px) {
    width: 500px;
  }
  background: white;
  .filter-header {
    padding: 14px 16px;

    @media (min-width: 1536px) {
      padding: 16px 24px;
    }

    border-bottom: 1px solid rgba(128, 128, 128, 0.438);
    h4 {
      @include font-18;
    }
  }
  .filter-body {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width: 1536px) {
      padding: 24px;
    }

    .filter-field {
      $space-y-3: 12px;
      $space-y-4: 16px;
      flex: 1 1 0%;
      & > *:not(:last-child) {
        margin-bottom: $space-y-3;
        @media (min-width: 1536px) {
          margin-bottom: $space-y-4;
        }
      }
    }
    .filter-footer {
      margin-top: 24px;
      @media screen {
        margin-top: 12px;
      }
      div {
        width: 50%;
      }
    }
  }
}
